/* Your custom styles */
.avatar img{
  max-width: 150px;
  height: auto;
}

.main-wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

section.dark-section {
  color: #fff;
}

:target:before {
  content:"";
  display:block;
  height:74px; /* fixed header height*/
  margin:-74px 0 0; /* negative fixed header height */
 }

/* For the intro section */
.top-nav-collapse {
    background-color: #ffab40 !important;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #ffab40 !important;
    }
}
h1-header {
    letter-spacing: 8px;
}
h5-header {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}
