---
layout: default
---

<!-- Start your project here-->
<div style="height: 20vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4">Data for Good</h1>
        <h5 class="animated fadeIn mb-3">La data science au service du bien commun</h5>
    </div>
</div>

<!-- Main layout-->

<main>
   <div class="main-wrapper">
     <div class="container-fluid">
       <section>
          <h5 class="animated fadeIn mb-3">Saison 3</h5>
          <div class="row">
            {% for item in site.projects %}
              {% if item.season == 3 %}
                <div class="col-lg-4">
                  <!--Card-->
                  <div class="card wow fadeIn" data-wow-delay="0.2s" style="animation-name: none; visibility: visible;">

                      <!--Card image-->
                      <div class="view overlay hm-white-slight">
                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg" class="img-fluid" alt="">
                          <a href="{{ item.url }}">
                              <div class="mask"></div>
                          </a>
                      </div>

                      <!--Card content-->
                      <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">{{ item.title }}</h4>
                          <hr>
                          <!--Text-->
                          <p class="card-text">{{ item.description }}</p>
                          <a href="{{ item.url }}" class="purple-text mt-1 d-flex flex-row-reverse">
                            <h5 class="waves-effect p-2">En savoir plus <i class="fa fa-chevron-right"></i></h5>
                          </a>
                      </div>
                  </div>
                  <!--/.Card-->
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <hr>
        </section>

        <section>
           <h5 class="animated fadeIn mb-3">Saison 2</h5>
           <div class="row">
             {% for item in site.projects %}
               {% if item.season == 2 %}
                 <div class="col-lg-4">
                   <!--Card-->
                   <div class="card wow fadeIn" data-wow-delay="0.2s" style="animation-name: none; visibility: visible;">

                       <!--Card image-->
                       <div class="view overlay hm-white-slight">
                           <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg" class="img-fluid" alt="">
                           <a href="{{ item.url }}">
                               <div class="mask"></div>
                           </a>
                       </div>

                       <!--Card content-->
                       <div class="card-body">
                           <!--Title-->
                           <h4 class="card-title">{{ item.title }}</h4>
                           <hr>
                           <!--Text-->
                           <p class="card-text">{{ item.description }}</p>
                           <a href="{{ item.url }}" class="purple-text mt-1 d-flex flex-row-reverse">
                             <h5 class="waves-effect p-2">En savoir plus <i class="fa fa-chevron-right"></i></h5>
                           </a>
                       </div>
                   </div>
                   <!--/.Card-->
                 </div>
               {% endif %}
             {% endfor %}
           </div>
           <hr>
         </section>

         <section>
            <h5 class="animated fadeIn mb-3">Saison 1</h5>
            <div class="row">
              {% for item in site.projects %}
                {% if item.season == 1 %}
                  <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.2s" style="animation-name: none; visibility: visible;">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg" class="img-fluid" alt="">
                            <a href="{{ item.url }}">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{ item.title }}</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{{ item.url }}" class="purple-text mt-1 d-flex flex-row-reverse">
                              <h5 class="waves-effect p-2">En savoir plus <i class="fa fa-chevron-right"></i></h5>
                            </a>
                        </div>
                    </div>
                    <!--/.Card-->
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <hr>
          </section>

        </div>
      </div>
</main>
<!-- /.Main layout-->


<!-- /Start your project here-->
