---
layout: default
---

<!-- Main layout-->

<main>
   <div class="main-wrapper">
     <div class="container-fluid">

       <section id="mission">
         <div class="row">
           <div class="col-md-8 offset-md-2 my-4 text-center">
             <h4 class="animated fadeIn" data-wow-delay="0.2s">Data for Good est une communauté de data scientists et développeurs volontaires mettant leurs compétences au profit de la résolution de problèmes sociaux.</h4>
           </div>
         </div>
       </section>

       <hr class="my-4">

       <section id="projects">
          <h2 class="animated fadeIn">Saison 3</h2>
          <div class="row">
            {% for item in site.projects %}
              {% if item.season == 3 %}
                <div class="col-md-3 my-4">
                  <!--Card-->
                  <div class="card wow fadeIn" data-wow-delay="0.2s" style="visibility: visible;">

                      <!--Card image-->
                      <div class="view overlay hm-white-slight hm-zoom">
                          {% if item.cover %}
                          <img src="{{ site.url }}/images/projects/{{ item.cover }}" class="img-fluid" alt="projet-{{ item.title }}">
                          {% else %}
                          <img src="{{ site.url }}/images/projects/default.jpg" class="img-fluid" alt="">
                          {% endif %}
                          <a href="{{ item.url }}">
                              <div class="mask"></div>
                          </a>
                      </div>

                      <!--Card content-->
                      <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">{{ item.title }}</h4>
                          <hr>
                          <!--Text-->
                          <p class="card-text">{{ item.description }}</p>
                          <a href="{{ item.url }}" class="amber-text mt-1 d-flex flex-row-reverse">
                            <h5 class="waves-effect p-2">En savoir plus <i class="fa fa-chevron-right"></i></h5>
                          </a>
                      </div>
                  </div>
                  <!--/.Card-->
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </section>

        <hr class="my-4">

        <section>
           <h2 class="animated fadeIn">Saison 2</h2>
           <div class="row">
             {% for item in site.projects %}
               {% if item.season == 2 %}
                 <div class="col-md-3 my-4">
                   <!--Card-->
                   <div class="card wow fadeIn" data-wow-delay="0.2s" style="visibility: visible;">

                       <!--Card image-->
                       <div class="view overlay hm-white-slight hm-zoom">
                           {% if item.cover %}
                           <img src="{{ site.url }}/images/projects/{{ item.cover }}" class="img-fluid" alt="projet-{{ item.title }}">
                           {% else %}
                           <img src="{{ site.url }}/images/projects/default.jpg" class="img-fluid" alt="">
                           {% endif %}
                           <a href="{{ item.url }}">
                               <div class="mask"></div>
                           </a>
                       </div>

                       <!--Card content-->
                       <div class="card-body">
                           <!--Title-->
                           <h4 class="card-title">{{ item.title }}</h4>
                           <hr>
                           <!--Text-->
                           <p class="card-text">{{ item.description }}</p>
                           <a href="{{ item.url }}" class="amber-text mt-1 d-flex flex-row-reverse">
                             <h5 class="waves-effect p-2">En savoir plus <i class="fa fa-chevron-right"></i></h5>
                           </a>
                       </div>
                   </div>
                   <!--/.Card-->
                 </div>
               {% endif %}
             {% endfor %}
           </div>
         </section>

         <hr class="my-4">

         <section>
            <h2 class="animated fadeIn">Saison 1</h2>
            <div class="row">
              {% for item in site.projects %}
                {% if item.season == 1 %}
                  <div class="col-md-3 my-4">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.2s" style="visibility: visible;">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight hm-zoom">
                            {% if item.cover %}
                            <img src="{{ site.url }}/images/projects/{{ item.cover }}" class="img-fluid" alt="projet-{{ item.title }}">
                            {% else %}
                            <img src="{{ site.url }}/images/projects/default.jpg" class="img-fluid" alt="">
                            {% endif %}
                            <a href="{{ item.url }}">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{ item.title }}</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{{ item.url }}" class="amber-text mt-1 d-flex flex-row-reverse">
                              <h5 class="waves-effect p-2">En savoir plus <i class="fa fa-chevron-right"></i></h5>
                            </a>
                        </div>
                    </div>
                    <!--/.Card-->
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </section>

        </div>
      </div>

      <section id="events" class="elegant-color dark-section">
        <div class="main-wrapper">
          <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-md-6 my-4">
                    <h2>Évènements publics</h2>
                    <p>Nous présentons nos projets au public à la fin de chaque saison d'accélération, environ trois fois par an.</p>
                    <p>Ces Demo Days rassemblent des centaines de passionnés de l'innovation sociale permise par la technologie et la data science.</p>
                    <div align="center">
                      <a href="http://www.meetup.com/Data-for-Good-FR" role="button" class="btn btn-amber">
                        <i class="fa fa-calendar pr-2" aria-hidden="true">
                        </i>
                        Assistez à nos évènements
                      </a>
                    </div>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-6 my-4">
                  <div class="view overlay hm-white-slight hm-zoom">
                      <img src="{{ site.url }}/images/events.jpg" class="img-fluid" alt="photo-meetup">
                      <a href="http://www.meetup.com/Data-for-Good-FR">
                          <div class="mask"></div>
                      </a>
                  </div>
                </div>
                <!--/.Second column-->
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4">

      <section id="partners" class="elegant-color dark-section">
        <div class="main-wrapper">
          <div class="container-fluid">
            <h2>Nos partenaires</h2>
            <div class="row">
            </div>
          </div>
        </div>
      </section>

</main>
<!-- /.Main layout-->
