<!--Footer-->
<footer class="page-footer elegant-color center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 >Une idée ? Une question ?</h5>
                <p>Contactez-nous : hellodataforgood@gmail.com !</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 >Retrouvez-nous sur :</h5>
                <p>
                  <a class="card-link" href="https://twitter.com/dataforgood_fr"><i class="fa fa-twitter-square fa-lg amber-text" aria-hidden="true"></i></a>
                  <a class="card-link" href="https://www.facebook.com/dataforgoodfr"><i class="fa fa-facebook-square fa-lg amber-text" aria-hidden="true"></i></a>
                  <a class="card-link" href="https://www.linkedin.com/company/data-for-good-x-bayes-impact/"><i class="fa fa-linkedin-square fa-lg amber-text" aria-hidden="true"></i></a>
                  <a class="card-link" href="https://github.com/dataforgoodfr/"><i class="fa fa-github-square fa-lg amber-text" aria-hidden="true"></i></a>
                </p>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            <a href="https://dataforgoodfr.github.io"> Data for Good </a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->



<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{{ site.url }}/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ site.url }}/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ site.url }}/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ site.url }}/js/mdb.min.js"></script>

<!-- For the intro section -->
<script>
    new WOW().init();
</script>
