<!--Footer-->
<footer class="page-footer deep-orange center-on-small-only">

    <!--Footer Links-->
    <div class="main-wrapper">
      <div class="container-fluid my-5">
          <div class="row">

              <!--First column-->
              <div class="col-md-6">
                  <h5 >Une idée ? Une question ?</h5>
                  <p>Contactez-nous : <a href="mailto:hellodataforgood@gmail.com">hellodataforgood@gmail.com</a></p>
              </div>
              <!--/.First column-->

              <!--Second column-->
              <div class="col-md-6">
                  <h5 >Retrouvez-nous sur :</h5>
                  <p>
                    <a class="card-link" href="https://twitter.com/dataforgood_fr"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
                    <a class="card-link" href="https://www.facebook.com/dataforgoodfr"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                    <a class="card-link" href="https://www.linkedin.com/company/data-for-good-x-bayes-impact/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                    <a class="card-link" href="https://github.com/dataforgoodfr/"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a>
                  </p>
              </div>
              <!--/.Second column-->
          </div>
      </div>
    </div>
      <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            <a href="https://dataforgoodfr.github.io"> Data for Good </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->


<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://dataforgood.fr/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://dataforgood.fr/css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="https://dataforgood.fr/css/style.css" rel="stylesheet">


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="https://dataforgood.fr/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://dataforgood.fr/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://dataforgood.fr/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://dataforgood.fr/js/mdb.min.js"></script>
 <link rel="stylesheet" type="text/css" href="css/style.css">

<!-- For the intro section -->
<script>
    new WOW().init();
</script>
