<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Data for Good</title>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://dataforgood.fr/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://dataforgood.fr/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://dataforgood.fr/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://dataforgood.fr/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="Data for Good"/>
    <meta name="msapplication-TileColor" content="#fa826f" />
    <meta name="msapplication-TileImage" content="https://dataforgood.fr/mstile-144x144.png" />
    <meta name="google-site-verification" content="KaVJXqZLKWjLcu8zo9nora75B3c-hM9YuWqf6BQvgWk" />

    {% include critical-css.html %}
    {% seo %}
</head>
