<!--Main Navigation-->
<header class="mb-4">

    {% include navbar.html %}

    <!-- Intro Section -->
      <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ site.url }}/images/background.jpg);">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown h1-header" data-wow-delay="0.3s"><strong>{{ page.title }}</strong></h1>
                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">Le projet</a>
                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">L'équipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!--Main Navigation-->
