<!--Main Navigation-->
<header class="mb-4">

    {% include navbar.html %}

    <!-- Intro Section -->
      <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ site.url }}/images/background.jpg);">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown h1-header" data-wow-delay="0.3s"><strong>Data for Good</strong></h1>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="font-up mb-5 white-text wow fadeInDown h5-header" data-wow-delay="0.4s"><strong>La technologie au service de l'impact social</strong></h5>
                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" href="#mission">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!--Main Navigation-->
