<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
          <strong>
            <img src="{{ site.url }}/images/logo-white-small.png" height="30" alt="Data for Good">
        </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto" id="main-navbar" role="navigation">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="{{ site.url }}/#mission" role="tab">Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="{{ site.url }}#projects" role="tab">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="{{ site.url }}#events" role="tab">Évènements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="{{ site.url }}#join" role="tab">Nous rejoindre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="{{ site.url }}#partners" role="tab">Partenaires</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
