{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[the_collection]  %}
  {% endif %}
<h2 class="mb-3">Autres projets</h2>
{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
      {% assign prevdescription = prev.description %}
      {% assign previmage = prev.image %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
      {% assign nextdescription = next.description %}
      {% assign nextimage = next.image %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
};
</script>

<div class="row">
  <div class="col-lg-3 col-md-6 my-4">
    {% if prevurl %}
    <div class="card">
      <!--Card image-->
      <div class="view overlay hm-white-slight hm-zoom">
          {% if previmage %}
          <img
              class="img-fluid"
              src="{{ site.url }}/images/projects/{{ previmage }}"
              alt="projet-{{ prevtitle }}"
              srcset="
                  {{ site.url }}/images/projects/900/{{ previmage }} 900w,
                  {{ site.url }}/images/projects/450/{{ previmage }} 450w"
              sizes="
                  (max-width: 991px) 100vw,
                  20vw">
          </img>
          {% else %}
          <img
              class="img-fluid"
              src="{{ site.url }}/images/projects/{{ previmage }}"
              alt="projet-{{ prevtitle }}"
              srcset="
                  {{ site.url }}/images/projects/900/default.jpg 900w,
                  {{ site.url }}/images/projects/450/default.jpg 450w"
              sizes="
                  (max-width: 991px) 100vw,
                  20vw">
          </img>
          {% endif %}
          <a href="{{ prevurl }}">
              <div class="mask"></div>
          </a>
      </div>
        <div class="card-body">
            <h4 class="card-title">{{ prevtitle }}</h4>

            <p class="card-text">{{ prevdescription }}</p>
            <div class="text-center">
              <a class="btn btn-deep-orange" href="{{prevurl}}" role="button">
                <i class="fa fa-chevron-left" aria-hidden="true">
                </i>
              </a>
            </div>
        </div>
    </div>
    {% endif %}
  </div>
  <div class="col-lg-3 col-md-6 my-4">
    {% if nexturl %}
    <div class="card">
      <!--Card image-->
      <div class="view overlay hm-white-slight hm-zoom">
          {% if nextimage %}
          <img
              class="img-fluid"
              src="{{ site.url }}/images/projects/{{ nextimage }}"
              alt="projet-{{ nexttitle }}"
              srcset="
                  {{ site.url }}/images/projects/900/{{ nextimage }} 900w,
                  {{ site.url }}/images/projects/450/{{ nextimage }} 450w"
              sizes="
                  (max-width: 991px) 100vw,
                  20vw">
          </img>
          {% else %}
          <img
              class="img-fluid"
              src="{{ site.url }}/images/projects/{{ nextimage }}"
              alt="projet-{{ nexttitle }}"
              srcset="
                  {{ site.url }}/images/projects/900/default.jpg 900w,
                  {{ site.url }}/images/projects/450/default.jpg 450w"
              sizes="
                  (max-width: 991px) 100vw,
                  20vw">
          </img>
          {% endif %}
          <a href="{{ nexturl }}">
              <div class="mask"></div>
          </a>
      </div>
        <div class="card-body">
            <h4 class="card-title">{{ nexttitle }}</h4>

            <p class="card-text">{{ nextdescription }}</p>
            <div class="text-center">
              <a class="btn btn-deep-orange" href="{{nexturl}}" role="button">
                <i class="fa fa-chevron-right" aria-hidden="true">
                </i>
              </a>
            </div>
        </div>
    </div>
    {% endif %}
  </div>
</div>
