---
layout: default-project
---

<div style="height: 20vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4">{{ page.title }}</h1>
    </div>
</div>


<!-- Main layout-->

<main>
  <div class="main-wrapper">
    <div class="container-fluid">
      <section id="project">
        <h2 class="animated fadeIn mb-3">Le projet</h2>
        <p>{{ content }}</p>
        {% if page.repository %}
        <p>Retrouver le code source du projet <a href="{{ page.repository }}">ici</a>.</p>
        {% endif %}
      </section>

      <hr class="my-4">

      <section id="team">
      <h2 class="animated fadeIn mb-3">L'équipe</h2>
        <div class="row text-center">
          {% for member in page.members %}
            <div class="col-lg-3 col-md-6 mb-r">
              <div class="card card-body wow fadeIn" data-wow-delay="0.2s" style="visibility: visible;">
                <div class="avatar">
                  {% if member.image %}
                  <img src="{{ site.url }}/images/members/{{ member.image }}" class="rounded-circle">
                  {% else %}
                  <img src="{{ site.url }}/images/members/default.png" class="rounded-circle">
                  {% endif %}
                </div>

                <hr>

                <h5 class="card-title">{{ member.name }}</h5>

                <p class="card-text">{{ member.role }}</p>

                <div class="flex-row">
                  {% if member.twitter %}
                    <a class="card-link" href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter-square fa-lg amber-text" aria-hidden="true"></i></a>
                  {% endif %}
                  {% if member.linkedin %}
                    <a class="card-link" href="{{ member.linkedin }}"><i class="fa fa-linkedin-square fa-lg amber-text" aria-hidden="true"></i></a>
                  {% endif %}
                  {% if member.github %}
                    <a class="card-link" href="https://github.com/{{ member.github }}"><i class="fa fa-github-square fa-lg amber-text" aria-hidden="true"></i></a>
                  {% endif %}

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

      {% if page.organizations %}
      <hr class="my-4">

      <section>
        {% for organization in page.organizations %}
          {% if organization.type == 'association' %}
          <h2 class="animated fadeIn mb-3">L'association</h2>
          {% elsif organization.type == 'startup' %}
          <h2 class="animated fadeIn mb-3">La startup</h2>
          {% elsif organization.type == 'institution' %}
          <h2 class="animated fadeIn mb-3">L'institution</h2>
          {% else %}
          <h2 class="animated fadeIn mb-3">Le partenaire</h2>
          {% endif %}
        <div class="view overlay hm-white-slight hm-zoom avatar mb-3">
            <img src="{{ site.url }}/images/organizations/{{ organization.image }}" class="img-fluid" alt="logo-{{ organization.name }}">
            <a href="{{ organization.website }}">
                <div class="mask"></div>
            </a>
        </div>
        <p>{{ organization.description }}</p>
        {% endfor %}
      </section>
      {% endif %}

    </div>
  </div>
</main>

<!-- /.Main layout-->
