---
layout: default
---

<!-- Main layout-->

<main>
  <div class="main-wrapper">
    <div class="container-fluid">
      <h1 class="animated fadeIn mb-4">{{ page.title }}</h1>

      <section>
        <h2 class="animated fadeIn mb-3">Le projet</h2>
        <p>{{ content }}</p>
      </section>
      <hr>

      <section class="section team-section pb-5">
      <h2 class="animated fadeIn mb-3">L'équipe</h2>
        <div class="row text-center">
          {% for member in page.members %}
          <!-- Grid column -->
                      <div class="col-lg-3 col-md-6 mb-r">
                          <div class="card card-body">
                              <div class="avatar mt-3">
                                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle" alt="First sample avatar image">
                              </div>
                              <h5 class="font-bold">
                                  <strong>Anna Williams</strong>
                              </h5>
                              <p class="grey-text">Graphic designer</p>

                              <ul class="list-unstyled">
                                  <!-- Facebook -->
                                  <a class="icons-sm fb-ic">
                                      <i class="fa fa-facebook blue-text"> </i>
                                  </a>
                                  <!-- Twitter -->
                                  <a class="icons-sm tw-ic">
                                      <i class="fa fa-twitter blue-text"> </i>
                                  </a>
                                  <!-- Instagram -->
                                  <a class="icons-sm ins-ic">
                                      <i class="fa fa-instagram blue-text"> </i>
                                  </a>
                              </ul>
                          </div>
                      </div>
          <!-- Grid column -->
          {% endfor %}
        </div>
      </section>

      <section class="section team-section pb-5">
      <h2 class="animated fadeIn mb-3">L'équipe</h2>
        <div class="row text-center">
          {% for member in page.members %}
            <div class="col-lg-3 col-md-6 mb-r">
              <div class="card card-body">
                <div class="avatar mt-3">
                  <img src="{{ site.url }}/images/{{ member.image }}" class="rounded-circle">
                </div>
                <h5 class="card-title">{{ member.name }}</h5>

                <p class="card-text">{{ member.role }}</p>

                <div class="flex-row">
                  {% if member.twitter %}
                    <a class="card-link" href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                  {% endif %}
                  {% if member.linkedin %}
                    <a class="card-link" href="https://www.linkedin.com/in/{{ member.linkedin }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                  {% endif %}

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

    </div>
  </div>
</main>

<!-- /.Main layout-->
