---
layout: default-project
---

<!-- Main layout-->

<main>
  <div class="main-wrapper">
    <div class="container-fluid">
      <section id="project">
        <h2 class="animated fadeIn mb-3">Le projet</h2>
        <p>{{ content }}</p>
        {% if page.repository %}
        <p>Retrouver le code source du projet <a href="{{ page.repository }}">ici</a>.</p>
        {% endif %}
      </section>

      <hr class="my-4">

      <section id="team">
      <h2 class="animated fadeIn mb-3">L'équipe</h2>
        <div class="row text-center">
          {% for member in page.members %}
            <div class="col-lg-3 col-md-6 mb-r">
              <div class="card wow fadeIn" data-wow-delay="0.2s" style="visibility: visible;">
                <div class="avatar mt-4">
                  {% if member.image %}
                  <img src="https://dataforgood.fr/images/members/{{ member.image }}" class="rounded-circle">
                  {% else %}
                  <img src="https://dataforgood.fr/images/members/default.png" class="rounded-circle">
                  {% endif %}
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{ member.name }}</h4>
                  <p class="card-text">{{ member.role }}</p>
                  <div class="flex-row">
                    {% if member.twitter %}
                      <a class="card-link" href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter-square fa-lg deep-orange-text" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if member.linkedin %}
                      <a class="card-link" href="{{ member.linkedin }}"><i class="fa fa-linkedin-square fa-lg deep-orange-text" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if member.github %}
                      <a class="card-link" href="https://github.com/{{ member.github }}"><i class="fa fa-github-square fa-lg deep-orange-text" aria-hidden="true"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

      {% if page.organizations %}
      <hr class="my-4">

      <section>
        {% for organization in page.organizations %}
          <h2 class="animated fadeIn mb-3">Le partenaire</h2>
          {% if organization.image %}
            <div class="view overlay hm-white-slight hm-zoom avatar mb-3">
                <img src="https://dataforgood.fr/images/organizations/{{ organization.image }}" class="img-fluid" alt="logo-{{ organization.name }}">
                <a href="{{ organization.website }}">
                    <div class="mask"></div>
                </a>
            </div>
          {% endif %}
          <p>{{ organization.description }}</p>
        {% endfor %}
      </section>
      {% endif %}

      <hr class="my-4">

      <section class="mb-5">
        {% for volunteer in site.volunteers %}
            {{ volunteer.projects }}
          {% for project in volunteer.projects %}
            {{ volunteer.fullname }}
            {{ volunteer.role }}
            <br>
          {% endfor %}
        {% endfor %}
        {% include prev-next.html %}
      </section>
    </div>
  </div>
</main>

<!-- /.Main layout-->
